/* ------ Universal ------ */

html,
body {
  font-family: 'Roboto', 'Roboto Light', 'sans-serif';
  font-size: 16px;
  line-height: 1.6;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #EDEDED;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
}

/*title section*/
.title__box {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 25% 1fr;
  text-align: center;

}

.title__box h3 {
  padding: 0 10px;
  font-size: 20px;
  font-weight: normal;
}

.title__border {
  width: 100%;

  border-bottom: 10px solid transparent;
  border-image: url(./img/Border-BG.jpg) 40 round;
  transform: scaleX(-1);

  align-self: center;
}

/*title section*/

/* ------ HEADER ------ */
.header {
  width: 100%;
  height: 300px;
  background-color: gray;
  /*border-bottom: 10px solid red;
  border-image: url(./img/Border-BG.jpg) repeat 30;*/
}

.header-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header_left {
  width: 40%;
  height: 90%;
  background-image: url(./img/Header-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.header_right {
  width: 40%;
  height: 90%;
}

#header_button {
  padding: 1em;
  color: white;
  background-color: cornflowerblue;
  border-style: none;
  border-radius: 5px;
}

.border_background {
  border-bottom: 10px solid transparent;
  border-image: url(./img/Border-BG.jpg) 40 round;
  transform: scaleX(-1);
}



/* ------ SECTION 1 ------ */

.section1 {
  width: 100%;
}

.s1-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.s1__title__box {
  width: 90%;
  padding: 10px 80px;
  background-image: linear-gradient(#4D7FA8, #5D9ACC);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  position: relative;
}

.s1__title__box::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  left: 0;
  bottom: -48px;


  border: 1.5em solid;

  border-left-color: #5D9ACC;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: #5D9ACC;

  /*work with the location of the triagle*/
}

.s1__title__box h2 {
  color: white;
  font-weight: normal;
}

.s1__grid__container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4em;
  margin: 100px 0;
  justify-content: center;
}

.s1__icon__box {
  width: 20px;
  height: 20px;
  background: radial-gradient(#464747, #1a1b1f);
  border-radius: 50%;
  padding: 1em;
  text-align: center;
}

.fas {
  vertical-align: middle;
  color: white;
}

.s1__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1em;

  position: relative;
}


.s1__content:hover {
  background-color: white;
  padding: 1em;
  box-shadow: 9px 0px 19px -10px #2b292b;
}

.s1__content:hover .s1__icon__box {
  background: radial-gradient(cornflowerblue, #476ce6);
}

.s1__content:hover .s1__btn {
  display: none;
}

.s1__content:hover::after {
  content: "";
  box-sizing: border-box;
  width: 2em;
  height: 2em;

  position: absolute;
  left: 0;
  bottom: -32px;

  border-width: 1em 2em;
  border-style: solid;

  border-top-color: white;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: white;
}

.s1__content p {
  text-align: center;
}

#s1__btn {
  padding: 1em 3em;
  color: black;
  background-color: white;
  border-style: none;
  border-radius: 5px;
}

.s1__btn {
  padding: 1em;
  color: white;
  background-color: cornflowerblue;
  border-style: none;
  border-radius: 5px;
}


/* ------ SECTION 2 ------ */
.section2 {
  width: 100%;
}

.s2-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* add codes to organize contents*/
}

/* ----section 2 heading ----*/
.s2__title__box {
  grid-template-columns: 1fr 15% 1fr;
}


.s2__content__box {
  height: 100%;
  margin-top: 30px;
  margin-bottom: 100px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
}

.s2__content {
  display: flex;
  flex-direction: column;
  box-shadow: 9px 0px 21px -18px rgba(43, 41, 43, 1);
}

.s2__content__img {
  height: 190px;
  background-image: url(./img/img-placeholder.png);
  background-size: cover;
}

.s2__description {
  padding: 1em;
  background-color: white;
  position: relative;
}

.s2__description::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  left: 0;
  bottom: -32px;


  border: 1em solid;

  border-left-color: white;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: white;
}

.s2__content__h4 {
  font-size: 15px;
}

.s2__content__p {
  margin-top: 0;
}

/* ------ SECTION 3 ------ */
.section3 {
  width: 100%;
}

.s3-container {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1em;
}

.s3a-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.s3a__title__box {
  display: grid;
}

.s3a__content__box {
  height: 92%;
  /*figure out what's going on in here*/
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 1em;
  grid-row-gap: 2.5em;
}

.s3a__content {
  background-color: white;
  padding: 1.5em;
  position: relative;
  box-shadow: 9px 0px 21px -15px rgba(18, 18, 18, 0.85);
}

.s3a__content::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  left: 0;
  bottom: -32px;


  border: 1em solid;

  border-left-color: white;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: white;
}

.s3a__content p {
  text-align: justify;
}

.s3b-container {
  height: 80%;
  margin-bottom: 100px;
}

.s3b__title__box {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
}

.tab_container {
  width: 90%;
  margin: 0 auto;
  padding-top: 70px;
  position: relative;
}

input,
#content1,
#content2 {
  clear: both;
  padding-top: 10px;
  display: none;
  box-shadow: 9px 0px 21px -15px rgba(18, 18, 18, 0.85);
}

label {
  font-weight: 700;
  font-size: 16px;
  display: block;
  float: left;
  width: 100px;
  padding: 1em;
  color: black;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

#tab1:checked~#tab1-lable,
#tab2:checked~#tab2-lable {
  box-shadow: 9px 0px 21px -15px rgba(18, 18, 18, 0.85);
}

#tab1:checked~#content1,
#tab2:checked~#content2 {
  display: block;
  padding: 20px;
  background: #fff;
  color: black;
  border-bottom: 2px solid #f0f0f0;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}

.tab-container .tab-content h3 {
  text-align: center;
}

.tab-container [id^="tab"]:checked+label {
  background-color: #fff;
}

.s3b__btn__box {
  display: flex;
  justify-content: flex-end;
}

#s3b__btn {
  background-color: cornflowerblue;
  border-style: none;
  padding: 1em;
  border-radius: 5px;
  color: white;
}



/*--------FOOTER HEADER--------*/

.footer__header {
  width: 100%;

}

.footer__header__container {
  height: 100%;
  margin: 0 auto;
  background-image: linear-gradient(#4D7FA8, #5D9ACC);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  position: relative;
}

.footer__header__container::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  left: 0;
  bottom: -48px;


  border: 1.5em solid;

  border-left-color: #5D9ACC;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: #5D9ACC;

}


.footer__header h2 {
  color: white;
  font-weight: normal;
  padding-left: 80px;
}

.footer__header__btn {
  padding-right: 80px;
}

#footer__btn {
  padding: 10px 30px;
  font-size: 13px;
  border-style: none;
  border-radius: 5px;
}

/*-------- FOOTER --------*/
.footer {
  width: 100%;
  background-color: #3D3D3D;
  padding-top: 80px;
  padding-bottom: 50px;
}

.footer h3,
.footer p {
  color: white;
}

.footer__container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1em;
}

.footer__column h3 {
  width: 100%;

  letter-spacing: 1px;
}

.footer__column p {
  font-weight: 100;
  letter-spacing: 1px;
}

.blog__link {
  border-bottom: 1px solid black;
}

.link__4 {
  border-bottom: none;
}

.flicker__img__box {
  width: 100%;
  height: 40%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 3px;
}

.flicker__img {
  height: 100%;
  width: 100%;
  background-color: #202026;
}

/*-------- COPYRIGHT --------*/
.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #292a2b;
  padding: 15px 0px;
}

.copyright__container {
  width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copyright__box {}

.copyright__box p {
  font-size: 13px;
  color: white;
}

.social-media__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-media .fab {
  margin: 5px;
}

.social-media .fab:hover {
  color: white;
}

.tooltip {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  position: absolute;
  top: -30px;
  left: 0;
  size: 9px;
  color: white;
  background-color: #424240;
  text-align: center;
  border-radius: 5px;
  padding: 3px 5px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}